<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>EDIT</h2>
	<a href="/home">Back</a>
	<br/><br/>
	<form method="post">
		<input type="hidden" name="userId" value="<%= user.userId%>">
		<table>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="username" value="<%= user.username%>" /></td>
			</tr>
			<tr>
				<td>PASSWORD</td>
				<td><input type="text" name="password" value="<%= user.password%>" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Update" /></td>
			</tr>
		</table>
	</form>
</body>
</html>